# Node dependencies
node_modules/

# Logs
logs
*.log

# Build output
build/
dist/

# Environment variables
.env
.env.*

# Cache
.cache/
.parcel-cache
.vite
.vitepress
.svelte-kit/

# Test coverage
coverage/

# OS/editor files
.DS_Store
Thumbs.db

# Misc
*.pid
*.seed
